{% extends "layouts/base.html" %} 

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}

<div class="row">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Password Reset</h4>
      </div>
      <div class="card-body">
        <p class="my-3 card-text">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <h6 class="card-category">
          <span class="text-danger">{{ msg | safe }}</span>
        </h6>
        
        <form role="form" method="post" action="">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                {{ form.email }}
              </div>
            </div>
          </div>
          <span class="text-danger">{{ form.email.errors }}</span>

          <br />

          <button type="submit" name="login" class="btn btn-primary pull-left">
            Reset My Password
          </button>

          &nbsp; &nbsp;
          <span class="pull-right">
            Just Remembered?
            <a href="{% url 'login' %}" class="text-primary">Go Back</a>
          </span>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
