{% extends "layouts/base.html" %} 

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}

<div class="row">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Password Reset</h4>
      </div>
      <div class="card-body">
        <p class="my-3 card-text">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should recieve them shortly.</p>
        <p class="my-3 card-text">If you don't recieve an email, please make sure you've entered the address you registerd with, and check your span folder.</p>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
