{% extends "layouts/base.html" %} 
{% block title %} Create New Purchase {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/bootstrap-grid.css" rel="stylesheet" />
<style>
.custom-control{
  display: inline-block;
  width: 100%;
  height: calc(2.4375rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  appearance: none;
}
.custom-control:focus {
  border-color: #9acffa;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(154, 207, 250, 0.5); 
}
.custom-control:focus::-ms-value {
  color: #495057;
  background-color: rgba(0, 0, 0, 0); 
}
</style>
{% endblock stylesheets %} 

{% block content %}

<div class="row">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Create New Purchase</h4>
      </div>
      <div class="card-body">
        <form id="purchaseform" action="{% url 'purchase-create' %}" method="POST">
          <br/>
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                {% for error in form.non_field_errors %}
                  <div class="invalid-feedback">{{ error|escape }}</div>
                {% endfor %}
              </div>
            </div>
            {% for field in form %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-2">
                      <label class="bmd-label-floating">{{ field.label }}</label>
                      {{ field }}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error|escape }}</div>                 
                      {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>
      </div>
      <div class="card-footer">
        <a href="{% url 'purchase-index' %}" class="btn btn-secondary">
          <span class="mx-1">Back</span>
        </a>
        <button class="btn btn-primary" form="purchaseform" type="submit">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
