{% extends "layouts/base.html" %}

{% block title %} Sale Detail {% endblock title %}  

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/bootstrap-grid.css" rel="stylesheet" />
<style>

</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Sale Detail</h4>
      </div>
      <div class="card-body">
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Invoice Number:</b></div>
          <div class="col">{{sale.invoice_no}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Challan Number:</b></div>
          <div class="col">{{sale.challan_no}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Date:</b></div>
          <div class="col"> {{sale.sale_date}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Customer:</b></div>
          <div class="col">{{sale.customer}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Vehicle:</b></div>
          <div class="col">{{sale.vehicle}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Scheme:</b></div>
          <div class="col">{{sale.scheme}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Payment Mode:</b></div>
          <div class="col">{{sale.payment_mode}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Amount Incl. VAT:</b></div>
          <div class="col">{{sale.amount}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Discount:</b></div>
          <div class="col">{{sale.discount}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Finance Amount:</b></div>
          <div class="col">{{sale.finance_amount}}</div>
        </div>
        <div class="row g-5 row-col-2 mb-1">
          <div class="col"><b>Exchange Amount:</b></div>
          <div class="col">{{sale.exchange_amount}}</div>
        </div>
        
      </div>
      <div class="card-footer">
        <a href="{% url 'sale-index' %}" class="btn btn-secondary">
          <span class="mx-1">Back</span>
        </a>
        <a href="{% url 'sale-edit' sale.id %}" class="btn btn-warning">
          Edit
        </a>
      </div>
    </div>
  </div>
</div> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% if messages %}
{% for message in messages %}
  <script type="text/javascript">
    showToast('{{ message }}', '{{ message.tags }}');
  </script>
{% endfor %}
{% endif %}
{% endblock javascripts %}
